.social {
    text-align: center;
    .fa {
        background: none repeat scroll 0 0 #eeeeee;
        border: 1px solid #cccccc;
        border-radius: 50%;
        color: #ffffff;
        height: 24px;
        line-height: 1.5;
        margin: 0 6px 10px 0;
        text-align: center;
        text-shadow: 1px 1px rgba(85, 85, 85, 0.5);
        width: 24px;
    }
    a.fa {
        text-decoration: none;
    }
    a.fa:hover {
        opacity: 0.8;
        text-decoration: none;
    }        
    .fa.fa-lg {
        height: 30px;
        width: 30px;
    }
    .fa.fa-2x {
        height: 43px;
        width: 43px;
    }
    .fa.fa-3x {
        height: 63px;
        width: 63px;
    }
    .fa.fa-4x {
        height: 84px;
        width: 84px;
    }
    .fa.fa-5x {
        height: 105px;
        width: 105px;
    }
    .fa.fa-delicious {
        background: none repeat scroll 0 0 #31a9ff;
        border: 1px solid #2093e6;
    }
    .fa.fa-digg {
        background: none repeat scroll 0 0 #000000;
        border: 1px solid #1a1a1a;
    }
    .fa.fa-facebook {
        background: none repeat scroll 0 0 #556fa3;
        border: 1px solid #4d6595;
    }
    .fa.fa-flickr {
        background: none repeat scroll 0 0 #0969dd;
        border: 1px solid #0756b7;
    }
    .fa.fa-google-plus {
        background: none repeat scroll 0 0 #d34d3b;
        border: 1px solid #b43727;
    }
    .fa.fa-instagram {
        background: none repeat scroll 0 0 #517fa4;
        border: 1px solid #427196;
    }
    .fa.fa-linkedin {
        background: none repeat scroll 0 0 #0072b1;
        border: 1px solid #00659c;
    }
    .fa.fa-map-marker {
        background: none repeat scroll 0 0 #7fb72f;
        border: 1px solid #74a82a;
    }
    .fa.fa-pinterest {
        background: none repeat scroll 0 0 #cd2123;
        border: 1px solid #b81d1f;
    }
    .fa.fa-reddit {
        background: none repeat scroll 0 0 #ff4500;
        border: 1px solid #e6460b;
    }
    .fa.fa-rss {
        background: none repeat scroll 0 0 #f07013;
        border: 1px solid #dc650e;
    }
    .fa.fa-spotify {
        background: none repeat scroll 0 0 #23d05f;
        border: 1px solid #18c453;
    }
    .fa.fa-stumbleupon {
        background: none repeat scroll 0 0 #eb4924;
        border: 1px solid #de3b16;
    }
    .fa.fa-tumblr {
        background: none repeat scroll 0 0 #34465d;
        border: 1px solid #2e4159;
    }
    .fa.fa-twitter {
        background: none repeat scroll 0 0 #4dc4ec;
        border: 1px solid #37bce9;
    }
    .fa.fa-youtube-play {
        background: none repeat scroll 0 0 #b42d24;
        border: 1px solid #9f271f;
    }
}