@delicious: #31a9ff;
@digg: #000000;
@facebook: #556fa3;
@flickr: #0969dd;
@google-plus: #d34d3b;
@instagram: #517fa4;
@linkedin: #0072b1;
@map-marker: #7fb72f;
@pinterest: #cd2123;
@reddit: #ff4500;
@rss: #f07013;
@spotify: #23d05f;
@stumbleupon: #eb4924;
@tumblr: #34465d;
@twitter: #4dc4ec;
@youtube-play: #b42d24;

.sm.fa {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 50%;
    color: #ffffff;
    height: 24px;
    line-height: 1.5;
    margin: 0 6px 10px 0;
    text-align: center;
    text-shadow: 1px 1px rgba(85, 85, 85, 0.5);
    width: 24px;
}
a.sm.fa {
    text-decoration: none;
}
a.sm.fa:hover {
    opacity: 0.8;
    text-decoration: none;
}        
.sm.fa.fa-lg {
    height: 30px;
    width: 30px;
}
.sm.fa.fa-2x {
    height: 43px;
    width: 43px;
}
.sm.fa.fa-3x {
    height: 63px;
    width: 63px;
}
.sm.fa.fa-4x {
    height: 84px;
    width: 84px;
}
.sm.fa.fa-5x {
    height: 105px;
    width: 105px;
}
.sm.fa.fa-delicious {
    background: none repeat scroll 0 0 @delicious;
    border: 1px solid darken(@delicious, 10%);
}
.sm.fa.fa-digg {
    background: none repeat scroll 0 0 @digg;
    border: 1px solid darken(@digg, 10%);
}
.sm.fa.fa-facebook {
    background: none repeat scroll 0 0 @facebook;
    border: 1px solid darken(@facebook, 10%);
}
.sm.fa.fa-flickr {
    background: none repeat scroll 0 0 @flickr;
    border: 1px solid darken(@flickr, 10%);
}
.sm.fa.fa-google-plus {
    background: none repeat scroll 0 0 @google-plus;
    border: 1px solid darken(@google-plus, 10%);
}
.sm.fa.fa-instagram {
    background: none repeat scroll 0 0 @instagram;
    border: 1px solid darken(@instagram, 10%);
}
.sm.fa.fa-linkedin {
    background: none repeat scroll 0 0 @linkedin;
    border: 1px solid darken(@linkedin, 10%);
}
.sm.fa.fa-map-marker {
    background: none repeat scroll 0 0 @map-marker;
    border: 1px solid darken(@map-marker, 10%);
}
.sm.fa.fa-pinterest {
    background: none repeat scroll 0 0 @delicious;
    border: 1px solid darken(@delicious, 10%);
}
.sm.fa.fa-reddit {
    background: none repeat scroll 0 0 @delicious;
    border: 1px solid darken(@delicious, 10%);
}
.sm.fa.fa-rss {
    background: none repeat scroll 0 0 @rss;
    border: 1px solid darken(@rss, 10%);
}
.sm.fa.fa-spotify {
    background: none repeat scroll 0 0 @spotify;
    border: 1px solid darken(@spotify, 10%);
}
.sm.fa.fa-stumbleupon {
    background: none repeat scroll 0 0 @stumbleupon;
    border: 1px solid darken(@stumbleupon, 10%);
}
.sm.fa.fa-tumblr {
    background: none repeat scroll 0 0 @tumblr;
    border: 1px solid darken(@tumblr, 10%);
}
.sm.fa.fa-twitter {
    background: none repeat scroll 0 0 @twitter;
    border: 1px solid darken(@twitter, 10%);
}
.sm.fa.fa-youtube-play {
    background: none repeat scroll 0 0 @youtube-play;
    border: 1px solid darken(@youtube-play, 10%);
}