/* General Styles */
body {
  background-color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
}
/* Navigation Styles */
.navbar {
  margin-bottom: 0;
  min-height: 22px;
}
.navbar-brand {
  font-size: 14px;
  height: 22px;
  padding: 2px 15px;
}
.navbar-default {
  background-color: #333333;
  border-color: #896717;
}
.navbar-nav > li > a {
  padding-bottom: 2px;
  padding-top: 2px;
}
.navbar-toggle {
  margin-bottom: 2px;
  margin-right: 15px;
  margin-top: 2px;
  padding: 4px 5px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #333333;
  color: #dca62a;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #dca62a;
  color: #333333;
}
.dropdown-menu {
  background-color: #333333;
  border-color: #896717;
}
.dropdown-menu > li > a,
.dropdown-menu > li > a:focus {
  background-color: #333333;
  color: #dca62a;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #dca62a;
  color: #333333;
}
.nav .open > a,
.nav .open > a:focus {
  background-color: #333333;
  color: #dca62a;
}
.nav .open > a:hover {
  background-color: #dca62a;
  color: #333333;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
  background-color: #333333;
  border-color: #896717;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dca62a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #896717;
}
.navbar-default .navbar-collapse {
  border-color: #896717;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #333333;
    color: #dca62a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #dca62a;
    color: #333333;
  }
}
/* Navigation Styles */
.navbar {
  margin-bottom: 0;
  min-height: 22px;
}
.navbar-brand {
  font-size: 14px;
  height: 22px;
  padding: 2px 15px;
}
.navbar-default {
  background-color: #333333;
  border-color: #896717;
}
.navbar-nav > li > a {
  padding-bottom: 2px;
  padding-top: 2px;
}
.navbar-toggle {
  margin-bottom: 2px;
  margin-right: 15px;
  margin-top: 2px;
  padding: 4px 5px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #333333;
  color: #dca62a;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #dca62a;
  color: #333333;
}
.dropdown-menu {
  background-color: #333333;
  border-color: #896717;
}
.dropdown-menu > li > a,
.dropdown-menu > li > a:focus {
  background-color: #333333;
  color: #dca62a;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #dca62a;
  color: #333333;
}
.nav .open > a,
.nav .open > a:focus {
  background-color: #333333;
  color: #dca62a;
}
.nav .open > a:hover {
  background-color: #dca62a;
  color: #333333;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
  background-color: #333333;
  border-color: #896717;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dca62a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #896717;
}
.navbar-default .navbar-collapse {
  border-color: #896717;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #333333;
    color: #dca62a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #dca62a;
    color: #333333;
  }
}
/* Header */
.header {
  background-color: #000000;
  color: #dca62a;
}
.header .con-name {
  font-family: 'Quintessential', cursive;
  font-size: 86px;
  font-weight: bold;
  line-height: 1;
  margin-top: 5px;
  text-align: center;
}
.header .con-dates {
  font-family: 'Quintessential', cursive;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}
@media (min-width: 992px) {
  .header .con-name {
    font-size: 51px;
    margin-top: 25px;
    text-align: left;
  }
  .header .con-dates {
    font-size: 37px;
    margin-top: 20px;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .header .con-name {
    font-size: 62px;
    margin-top: 40px;
    text-align: left;
  }
  .header .con-dates {
    font-size: 46px;
    margin-top: 30px;
    text-align: right;
  }
}
/* Footer */
.footer {
  background-color: #000000;
  color: #dca62a;
}
.footer a {
  background-color: transparent;
  color: #896717;
  text-decoration: underline;
}
.footer a:hover {
  background-color: transparent;
  color: #eacb82;
}
.footer .footer-text {
  text-align: center;
}
@media (min-width: 768px) {
  .footer .footer-text {
    text-align: left;
  }
}
.footer .footer-links {
  text-align: center;
}
.footer .footer-links a {
  margin-left: 1em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer .footer-links {
    text-align: right;
  }
}
/* Content */
.content .container {
  background-color: #ffffff;
  color: #333333;
}
.content .container .social-links {
  text-align: center;
  margin-top: 20px;
}
