/* Needed for the sticky footer. */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

@media ( min-width : 768px) {
    body {
        margin-bottom: 60px;
    }
}

@media ( min-width : 992px) {
    body {
        margin-bottom: 40px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
}

@media ( min-width : 768px) {
    .footer {
        height: 60px;
    }
}

@media ( min-width : 992px) {
    .footer {
        height: 40px;
    }
}