{% load cms_tags staticfiles sekizai_tags %}

{% addtoblock "js" %}
    <script>
        $(document).ready(function() {
            
            // If there is an email id, show that email.
            var emailId = getQueryVariable("emailId");
            if (emailId != null && emailId != "") {
                show_email_instance_{{ instance.id }}(emailId);
            } else {
                // Otherwise, there is no email id. Show list of emails.
                show_email_list_{{ instance.id }}();
            }
        });
        
        function show_email_instance_{{ instance.id }}(emailId) {
            clear_page_{{ instance.id }}();
            var jqXHR = fetch_email_instance_{{ instance.id }}(emailId);
            jqXHR.done(function( data, textStatus, jqXHR ) {
                var email = data.email;
                $("#from_email_{{ instance.id }}").html(email.from_email);
                $("#to_email_{{ instance.id }}").html(email.to);
                $("#cc_email_{{ instance.id }}").html(email.cc);
                $("#email_timestamp_{{ instance.id }}").html(email.timestamp);
                $("#email_sent_successfully_{{ instance.id }}").html(email.sent_successfully);
                $("#email_subject_{{ instance.id }}").html(email.subject);
                $("#email_body_{{ instance.id }}").html(email.body);
                
                // Hook up reply button.
                $("#email_show_reply_{{ instance.id }}").unbind( "click" );
                $("#email_show_reply_{{ instance.id }}").click(function() {
                    show_email_reply_{{ instance.id }}(emailId);
                });

                $("#email_instance_{{ instance.id }}").show();
            });
            jqXHR.fail(function( jqXHR, textStatus, errorThrown ) {
                if (errorThrown == "FORBIDDEN") {
                    $("#error_list_{{ instance.id }}").append("<li>Forbidden. You do not have authorization to view this email.</li>");
                } else if (errorThrown == "NOT FOUND") {
                    $("#error_list_{{ instance.id }}").append("<li>Not found. This email does not exist on our server.</li>");
                } else {
                    $("#error_list_{{ instance.id }}").append("<li>Internal server error. Please try again later.</li>");
                }
            });
        }

        function show_email_list_{{ instance.id }}() {
            clear_page_{{ instance.id }}();
            var jqXHR = fetch_email_list_{{ instance.id }}();
            jqXHR.done(function( data, textStatus, jqXHR ) {
                var emails = data.emails;
                $("#email_list_{{ instance.id }} tbody").empty();
                for (var i = 0; i < emails.length; i++) {
                    email = emails[i];
                    row = "<tr><td><a href=\"#\" onclick=\"show_email_instance_{{ instance.id }}(" + email.id + ");\" >" + email.from_email + "</a></td>" +
                        "<td>" + email.to + "</td>" +
                        "<td>" + email.subject + "</td>" +
                        "<td>" + email.timestamp + "</td>" +
                        "<td>" + email.sent_successfully + "</td></tr>"
                    $("#email_list_{{ instance.id }} tbody").append(row);
                }
                $("#email_list_{{ instance.id }}").show();
            });
            jqXHR.fail(function( jqXHR, textStatus, errorThrown ) {
                if (errorThrown == "FORBIDDEN") {
                    $("#error_list_{{ instance.id }}").append("<li>Forbidden. You do not have authorization to view this page.</li>");
                } else {
                    $("#error_list_{{ instance.id }}").append("<li>Internal server error. Please try again later.</li>");
                }
            });
        }

        function show_email_reply_{{ instance.id }}(emailId) {
            clear_page_{{ instance.id }}();
            var jqXHR = fetch_email_reply_{{ instance.id }}(emailId);
            jqXHR.done(function( data, textStatus, jqXHR ) {
                var reply = data.reply;
                $("#reply_department_id_{{ instance.id }}").val(reply.department_id);
                $("#reply_from_{{ instance.id }}").val(reply.from_email);
                $("#reply_to_{{ instance.id }}").val(reply.to);
                $("#reply_cc_{{ instance.id }}").val(reply.cc);
                $("#reply_subject_{{ instance.id }}").val(reply.subject);
                $("#reply_body_{{ instance.id }}").val(reply.body);

                // Hook up send button.
                $("#reply_send_{{ instance.id }}").unbind( "click" );
                $("#reply_send_{{ instance.id }}").click(function() {
                    if (validate_reply_{{ instance.id }}()) {
                        var jqXHR = send_reply_{{ instance.id }}();
                        jqXHR.done(function( data, textStatus, jqXHR ) {
                            alert("Your email has been sent.");
                            show_email_list_{{ instance.id }}();
                        });
                        jqXHR.fail(function( jqXHR, textStatus, errorThrown ) {
                            $("#error_list_{{ instance.id }}").append("<li>Internal server error. Please try again later.</li>");
                        });
                    }
                });

                // Hook up cancel button.
                $("#reply_cancel_{{ instance.id }}").unbind( "click" );
                $("#reply_cancel_{{ instance.id }}").click(function() {
                    show_email_instance_{{ instance.id }}(emailId);
                });

                $("#email_reply_{{ instance.id }}").show();
            });
            jqXHR.fail(function( jqXHR, textStatus, errorThrown ) {
                if (errorThrown == "FORBIDDEN") {
                    $("#error_list_{{ instance.id }}").append("<li>Forbidden. You do not have authorization to reply to this email.</li>");
                } else if (errorThrown == "NOT FOUND") {
                    $("#error_list_{{ instance.id }}").append("<li>Not found. This email does not exist on our server.</li>");
                } else {
                    $("#error_list_{{ instance.id }}").append("<li>Internal server error. Please try again later.</li>");
                }
            });
        }

        function clear_page_{{ instance.id }}() {
            clear_errors_{{ instance.id }}();
            $("#email_instance_{{ instance.id }}").hide();
            $("#email_list_{{ instance.id }}").hide();
            $("#email_reply_{{ instance.id }}").hide();
        }
        
        function clear_errors_{{ instance.id }}() {
            $("#error_list_{{ instance.id }}").empty();
            $("#reply_from_form-group_{{ instance.id }}").removeClass("has-error");
            $("#reply_to_form-group_{{ instance.id }}").removeClass("has-error");
            $("#reply_cc_form-group_{{ instance.id }}").removeClass("has-error");
            $("#reply_subject_form-group_{{ instance.id }}").removeClass("has-error");
            $("#reply_body_form-group_{{ instance.id }}").removeClass("has-error");
        }

        function validate_reply_{{ instance.id }}() {
            // Intialize errors.
            clear_errors_{{ instance.id }}();
            var errors = [];

            // Validate from email.
            if ($("#reply_from_{{ instance.id }}").val() == "") {
                errors[errors.length] = "From Email may not be blank.";
                $("#reply_from_form-group_{{ instance.id }}").addClass("has-error");
            } else if (!isValidEmailAddress($("#reply_from_{{ instance.id }}").val())) {
                errors[errors.length] = "From Email must be a valid email address.";
                $("#reply_from_form-group_{{ instance.id }}").addClass("has-error");
            }
            
            // Validate to emails.
            if ($("#reply_to_{{ instance.id }}").val() != "" &&
                    !isValidEmailList($("#reply_to_{{ instance.id }}").val())) {
                errors[errors.length] = "To Email must be blank or a comma separated list of valid email addresses.";
                $("#reply_to_form-group_{{ instance.id }}").addClass("has-error");
            }

            // Validate cc emails.
            if ($("#reply_cc_{{ instance.id }}").val() != "" &&
                    !isValidEmailList($("#reply_cc_{{ instance.id }}").val())) {
                errors[errors.length] = "CC Email must be blank or a comma separated list of valid email addresses.";
                $("#reply_cc_form-group_{{ instance.id }}").addClass("has-error");
            }
            
            // Must enter to or cc email.
            if ($("#reply_to_{{ instance.id }}").val() == "" &&
                    $("#reply_cc_{{ instance.id }}").val() == "") {
                errors[errors.length] = "Both To and CC Emails may not be blank.";
                $("#reply_to_form-group_{{ instance.id }}").addClass("has-error");
                $("#reply_cc_form-group_{{ instance.id }}").addClass("has-error");
            }

            // Validate subject.
            if ($("#reply_subject_{{ instance.id }}").val() == "") {
                errors[errors.length] = "Subject may not be blank.";
                $("#reply_subject_form-group_{{ instance.id }}").addClass("has-error");
            }

            // Validate subject.
            if ($("#reply_body_{{ instance.id }}").val() == "") {
                errors[errors.length] = "Message should not be blank.";
                $("#reply_body_form-group_{{ instance.id }}").addClass("has-error");
            }

            // List the errors.
            for (i = 0; i < errors.length; ++i) {
                $("#error_list_{{ instance.id }}").append("<li>" + errors[i] + "</li>");
            }

            return errors.length == 0;
        }

        function fetch_email_instance_{{ instance.id }}(emailId) {
            var data = {};
            data["emailId"] = emailId;
            var jqXHR = $.ajax({
                type: "GET",
                url: "{% url 'staff:email_instance' %}",
                data: data
            });
            return jqXHR;
        }

        function fetch_email_list_{{ instance.id }}() {
            var jqXHR = $.ajax({
                type: "GET",
                url: "{% url 'staff:email_list' %}"
            });
            return jqXHR;
        }
        
        function fetch_email_reply_{{ instance.id }}(emailId) {
            var data = {};
            data["emailId"] = emailId;
            var jqXHR = $.ajax({
                type: "GET",
                url: "{% url 'staff:email_reply' %}",
                data: data
            });
            return jqXHR;
        }

        function send_reply_{{ instance.id }}() {
            var data = $("#email_reply_{{ instance.id }}").serialize();
            var jqXHR = $.ajax({
                type: "POST",
                url: "{% url 'staff:send_email_reply' %}",
                data: data
            });
            return jqXHR;
        }

        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return (false);
        }
        
        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i);
            return pattern.test(emailAddress);
        }        

        function isValidEmailList(emailList) {
            var pattern = new RegExp(/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}(,[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4})*$/i);
            return pattern.test(emailList);
        }        
    </script>
{% endaddtoblock %}

<ul id="error_list_{{ instance.id }}" class="text-danger"></ul>

<form id="email_instance_{{ instance.id }}" class="form-horizontal" onsubmit="return false;" style="display: none;">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="from_email_{{ instance.id }}">From</label>
        <div class="col-sm-4">        
            <p class="form-control-static" id="from_email_{{ instance.id }}"></p>
        </div>
        <label class="col-sm-2 control-label" for="to_email_{{ instance.id }}">To</label>
        <div class="col-sm-4">        
            <p class="form-control-static" id="to_email_{{ instance.id }}"></p>
        </div>
        <label class="col-sm-offset-6 col-sm-2 control-label" for="cc_email_{{ instance.id }}">CC</label>
        <div class="col-sm-4">        
            <p class="form-control-static" id="cc_email_{{ instance.id }}"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="email_timestamp_{{ instance.id }}">Timestamp</label>
        <div class="col-sm-3">        
            <p class="form-control-static" id="email_timestamp_{{ instance.id }}"></p>
        </div>
        <label class="col-sm-3 control-label" for="email_sent_successfully_{{ instance.id }}">Sent Successfully</label>
        <div class="col-sm-4">        
            <p class="form-control-static" id="email_sent_successfully_{{ instance.id }}"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="email_subject_{{ instance.id }}">Subject</label>
        <div class="col-sm-10">        
            <p class="form-control-static" id="email_subject_{{ instance.id }}"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="email_body_{{ instance.id }}">Message</label>
        <pre class="form-control-static" id="email_body_{{ instance.id }}"></pre>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="email_show_reply_{{ instance.id }}" class="btn btn-primary">Reply</button>
            <button class="btn btn-default" onclick="show_email_list_{{ instance.id }}();">Email List</button>
        </div>
    </div>
</form>

<div id="email_list_{{ instance.id }}" class="table-responsive" style="display: none;">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>From Email</th>
                <th>To</th>
                <th>Subject</th>
                <th>Timestamp</th>
                <th>Sent Successfully</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<form id="email_reply_{{ instance.id }}" onsubmit="return false;" style="display: none;">
    {% csrf_token %}
    <input type="hidden" id="reply_department_id_{{ instance.id }}" name="department_id" />
    <div class="form-group" id="reply_from_form-group_{{ instance.id }}">
        <label class="control-label" for="reply_from_{{ instance.id }}">From</label>
        <input type="text" class="form-control" id="reply_from_{{ instance.id }}" name="reply_from" />
    </div>
    <div class="form-group" id="reply_to_form-group_{{ instance.id }}">
        <label class="control-label" for="reply_to_{{ instance.id }}">To</label>
        <input type="text" class="form-control" id="reply_to_{{ instance.id }}" name="reply_to" />
    </div>
    <div class="form-group" id="reply_cc_form-group_{{ instance.id }}">
        <label class="control-label" for="reply_cc_{{ instance.id }}">CC</label>
        <input type="text" class="form-control" id="reply_cc_{{ instance.id }}" name="reply_cc" />
    </div>
    <div class="form-group" id="reply_subject_form-group_{{ instance.id }}">
        <label class="control-label" for="reply_subject_{{ instance.id }}">Subject</label>
        <input type="text" class="form-control" id="reply_subject_{{ instance.id }}" name="reply_subject" />
    </div>
    <div class="form-group" id="reply_body_form-group_{{ instance.id }}">
        <label class="control-label" for="reply_body_{{ instance.id }}">Message</label>
        <textarea type="text" class="form-control" id="reply_body_{{ instance.id }}" name="reply_body" rows="10" ></textarea>
    </div>
    <button id="reply_send_{{ instance.id }}" class="btn btn-primary">Send</button>
    <button id="reply_cancel_{{ instance.id }}" class="btn btn-default">Cancel</button>
</form>