{% load i18n menu_tags cache %}

{% for child in children %}
    {% if child.children %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ child.get_menu_title }}
            {% if child.menu_level %}
                <span class="fa fa-caret-right"></span>
            {% else %}
                <span class="fa fa-caret-down"></span>
            {% endif %}
            </a>
            <ul class="dropdown-menu" role="menu">
                <li {% if child.selected %}class="active"{% endif %}>
                    <a href="{{ child.get_absolute_url }}">{{ child.get_menu_title }} Info</a>
                </li>
                {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
            </ul>
        </li>          
    {% else %}
        <li {% if child.selected %}class="active"{% endif %}>
            <a href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        </li>
    {% endif %}
{% endfor %}
