{% extends "con-base.html" %}
{% load cms_tags staticfiles sekizai_tags %}

{% block con-content %}
    <div class="row">
        <div class="col-md-12">
            {% placeholder "images" %}
        </div>
        <div class="col-md-3">
            <div class="social">
                {% placeholder "social-links" %}
            </div>
            <div>
                {% placeholder "news" %}
            </div>
        </div>
        <div class="col-md-9">
            {% placeholder "content" %}
        </div>
    </div>
{% endblock con-content %}